:host {
    ::ng-deep{
        .p-card-content{
        .cmp-wrapper{
                display: flex; 
                justify-content: space-around;
                align-items: center;
                margin: 4% 0;
            }
        }
        .card-wrapper {
            >.p-card.p-component {
                margin: 0 2%;
            }
            position: relative;
            .img-wrapper {
                .card-img{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 110%;
                    width: 20%;
                }
            }
    }


    }
}