:host {
    ::ng-deep{
        .p-card-content{
        .cmp-wrapper{
                display: flex; 
                justify-content: space-around;
                align-items: center;
                margin: 4% 0;
            }
        }
        .card-wrapper {
            >.p-card.p-component {
                margin: 0 2%;
            }
        }
    }

    .img-wrapper {
        width: 50%;
        height: 50%;
        img{
            height: 100%;
            width: 100%;
        }
    }
}