:host {
    display: flex;
    justify-content: center;
    
    .img-wrapper {
        width: 50%;
        height: 50%;
        img{
            height: 100%;
            width: 100%;
        }
    }
    // .contact- {
    //     width: 40vw;
    //     background-image: url('/assets/img/send-message.png');
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     background-size: contain;
    // }
}