$soft-white: #f9f9f9;
$shadow-color: rgba(0, 0, 0, 0.1);
$link-active-color: #00e1ff;
$link-active-border-width: 2px;
$link-hover-transition-duration: 1.5s;
$link-active-transition-duration: 0.5s;
$link-inactive-transition-duration: 1.2s;

.navbar {
    background-color: transparent;
    // box-shadow: 0 2px 4px $shadow-color;
    position: relative;

    &-collapse {
        width: 70%;
    }

    &-brand {
        position: absolute;
        top: 24%;
        left: 3%;

        img {
            width: 70px;
            height: 70px;
        }
    }

    &-nav {
        width: 100%;
        border: none;
        justify-content: center;

        & a {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 8vh;
            // margin-right: 10px;
            color: #87a8be;
            font-weight: 600;
            text-decoration: none;
            outline: none;
            position: relative;
            padding: 10px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            transition: color $link-inactive-transition-duration, background-color $link-hover-transition-duration; // Added background-color transition

            & i {
                margin-right: 5px;
            }

            &:hover:before,
            &:hover:after,
            &.active:before,
            &.active:after {
                width: 100%;
            }

            &:hover:before,
            &.active:before {
                left: 0;
                transform-origin: left;
            }

            &:hover:after,
            &.active:after {
                left: 0;
                transform-origin: left;
            }

            &:before,
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: $link-active-border-width;
                background-color: $link-active-color;
                transform: scaleX(0);
                transition: transform $link-active-transition-duration;
            }

            &:before {
                transition-delay: $link-active-transition-duration;
            }

            &:after {
                transition-delay: 0s;
            }

            &:hover {
                color: $link-active-color;
                transition: color .5s, background-color .5s;
            }

            &.active {
                position: relative;
                overflow: hidden;
                color: $link-active-color;
                transition: color $link-inactive-transition-duration, background-color $link-hover-transition-duration;

                &:before,
                &:after {
                    transform: scaleX(1);
                }
            }
        }
    }

    .social-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;

        & .linkedin-icon,
        & .gmail-icon,
        & .whatsapp-icon {
            margin-left: 10px;
            color: #000;
        }
    }
}