<h3>Experience</h3>

<div class="experience-item">
    <h4>Full Stack Developer at Emalogic software</h4>
    <p>
        As a Full Stack Developer at Emalogic software, I have been involved in developing and maintaining
        large-scale systems with 2000+ customers. I successfully reduced API load time by 50% and expanded and
        enhanced API services. My responsibilities also included implementing backend N-tier architecture and design
        patterns, collaborating with teams using Git, Figma, and Jira, and designing SQL tables based on
        requirements.
    </p>
</div>

<div class="experience-item">
    <h4>Full Stack Developer (Freelance)</h4>
    <p>
        During my freelance work as a Full Stack Developer, I specialized in React, GraphQL, and Node.js. I
        developed complex UI logic features, managed the entire development process from design to production, and
        efficiently resolved bugs and issues. I also assessed the technical feasibility of UX and UI designs and
        continuously maintained and improved existing features.
    </p>
</div>