<footer class="footer" data-aos="zoom-in-right">
    <div class="footer-content">
        <div class="footer-left">
            <h3>oml Portfolio</h3>
            <p>&copy; 2023 All rights reserved.</p>
        </div>
        <div class="footer-right">
            <ul class="footer-social">
                <a [href]="whatsapp" target="_blank">
                    <i class="bx bx-md bx-border-circle border-white bx-tada-hover bxl-whatsapp"></i>
                </a>
                <a [href]="in" target="_blank">
                    <i class="bx bx-md bx-border-circle border-white bx-tada-hover bxl-linkedin"></i>
                </a>
                <a [href]="github" target="_blank">
                    <i class="bx bx-md bx-border-circle border-white bx-tada-hover bxl-github"></i>
                </a>
                <a [href]="mail" target="_blank">
                    <i class="bx bx-md bx-border-circle border-white bx-tada-hover bxl-gmail"></i>
                </a>
            </ul>
        </div>
    </div>
</footer>