<footer class="footer">
    <div class="footer-content">
        <div class="footer-left">
            <h3>oml Portfolio</h3>
            <p>&copy; 2023 All rights reserved.</p>
        </div>
        <div class="footer-right">
            <ul class="footer-social">
                <i class="bx bx-md bx-border-circle border-white bx-fade-left-hover bxl-whatsapp"></i>
                <i class="bx bx-md bx-border-circle border-white bx-fade-left-hover bxl-linkedin"></i>
                <i class="bx bx-md bx-border-circle border-white bx-fade-left-hover bxl-gmail"></i>
            </ul>
        </div>
    </div>
</footer>