$main-color: #00e1ff;

:host{
  width: 50%;
.details-card {
  display: flex;
  flex-direction: column;
  gap: 60px;
  border: 0;
  padding-left: 43%;

  .connection-details {
    display: flex;
    align-items: center;
    z-index: 100;
    gap: 2%;
    .details{
      max-width: 350px;
      span{
        font-size: 1.5rem;
      }
    }
    .icon-wrapper {
      background-color: #00e1ff2a;
      border-radius: 50%;
      color: $main-color;
      padding: 2%;
      text-align: center;
    }

    h3 {
      margin: 0;
    }
  }
}
}

::ng-deep {
  .p-card.p-component{
      box-shadow:   0 2px 11px -1px $main-color, 0 1px 1px 0 $main-color, 0 1px 3px 0 $main-color; 
  }
}