:host{
  width: 50%;
.details-card {
  display: flex;
  flex-direction: column;
  gap: 60px;
  border: 0;
  padding-left: 15%;
  position: relative;

  img{
    position: absolute;
    right: 0;
    top: -65%;
  }

  .connection-details {
    display: flex;
    align-items: center;
    z-index: 100;
    gap: 2%;
    .details{
      max-width: 350px;
      span{
        font-size: 1.5rem;
      }
    }
    .icon-wrapper {
      background-color: #00e1ff2a;
      border-radius: 50%;
      color: #00e1ff;
      padding: 2%;
      text-align: center;
    }

    h3 {
      margin: 0;
    }
  }
}
}