<div class="contact-form" data-aos="fade-up-right">
    <h2>Contact Me!</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="grouped" data-aos="fade-right" data-aos-delay="200">
            <div class="form-group">
                <label for="firstName">First name</label>
                <span *ngIf="contactForm.get('firstName')?.invalid && contactForm.get('firstName')?.touched"
                    class="error-message">Please enter a valid first name.</span>
                <input id="firstName" type="text" formControlName="firstName"  />
                <span class="effect"
                    [ngClass]="{ active: activeEffect === 'firstName', error: contactForm.get('firstName')?.invalid && contactForm.get('firstName')?.touched }">
                </span>
            </div>

            <div class="form-group">
                <label for="lastName">Last name</label>
                <span *ngIf="contactForm.get('lastName')?.invalid && contactForm.get('lastName')?.touched"
                    class="error-message">Please enter a valid last name.</span>
                <input id="lastName" type="text" formControlName="lastName"  />
                <span class="effect"
                    [ngClass]="{ active: activeEffect === 'lastName', error: contactForm.get('lastName')?.invalid && contactForm.get('lastName')?.touched }">
                </span>
            </div>

        </div>

        <div class="form-group" data-aos="fade-right" data-aos-delay="400">
            <label for="email">Email</label>
            <span *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched"
                class="error-message">Please enter a valid email address.
            </span>
            <input id="email" type="email" formControlName="email"  />
            <span class="effect"
                [ngClass]="{ active: activeEffect === 'email', error: contactForm.get('email')?.invalid && contactForm.get('email')?.touched }">
            </span>
        </div>

        <div class="form-group" data-aos="fade-right" data-aos-delay="600">
            <label for="mobile">Mobile</label>
            <span *ngIf="contactForm.get('mobile')?.invalid && contactForm.get('mobile')?.touched"
                class="error-message">Please enter a valid mobile number.</span>
            <input id="mobile" type="tel" formControlName="mobile"  />
            <span class="effect"
                [ngClass]="{ active: activeEffect === 'mobile', error: contactForm.get('mobile')?.invalid && contactForm.get('mobile')?.touched }">
            </span>

        </div>

        <button *ngIf="!isSubmitting" type="submit" data-aos="fade-up" data-aos-delay="600"
            [disabled]="contactForm.invalid || isSubmitting">
            <span>Submit</span>
        </button>

        <div class="text-center" *ngIf="isSubmitting" data-aos="zoom-in">
            <p-progressSpinner styleClass="w-[1px] h-[1px]" strokeWidth="4" animationDuration=".5s"></p-progressSpinner>
        </div>

        <div class="success-indicator" *ngIf="isSubmitted">Form submitted successfully!</div>
    </form>
</div>