<div class="about-me-container">
    <h2>WelcoME!</h2>
    <p>
        My name is Ori Menachem Levi.
    </p>
    <p>
        I am a Full Stack Developer with experience in ASP.Net, C#, SQL, Angular, React, and more. Throughout my career,
        I have successfully developed and maintained large-scale systems, collaborated with teams, and demonstrated
        expertise in various technologies and tools.
    </p>

    <h3>Skills</h3>

    <div class="skills-list">
        <h4>Frontend Technologies</h4>
        <ul>
            <li>JavaScript ES6+</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Redux</li>
            <li>Akita</li>
            <li>jQuery</li>
            <li>SCSS</li>
            <li>Tailwind CSS</li>
            <li>RxJS</li>
            <li>Bootstrap</li>
        </ul>

        <h4>Backend Technologies</h4>
        <ul>
            <li>Express</li>
            <li>Supabase</li>
            <li>MongoDB</li>
            <li>Firebase</li>
            <li>REST API</li>
            <li>IIS</li>
        </ul>

        <h4>Databases</h4>
        <ul>
            <li>SQL Server</li>
            <li>PostgreSQL</li>
        </ul>

        <h4>Tools</h4>
        <ul>
            <li>Postman</li>
            <li>Git</li>
            <li>GitLab</li>
            <li>Bitbucket</li>
            <li>Figma</li>
            <li>ClickUp</li>
            <li>Jira</li>
            <li>Chrome DevTools</li>
        </ul>
    </div>
</div>